.cabecalho{
    display: flex;
    justify-content: space-between;
    font-family: sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    zoom: 125%;
}

.logotipo-icone{
    color: rgb(247, 7, 7);
}

.cabecalho-inicio{
    display: flex;
    gap: 16px;
    padding: 4.5px;
}

.logotipo{
    display: flex;
    align-items: start;
}

.logotipo-pais{
    font-size: 8px;
    color: rgb(49, 49, 49);
}

.search{
    display: flex;
}

.search-input{
    border: 1px solid gray;
    outline: none;
    height: 23px;
    width: 305px;
    border-radius: 20px 0 0 20px;
}

.search-button{
    border: 1px solid gray;
    border-radius: 0 20px 20px 0;
    height: 26px;
}

.microphone-button{
    border: 1px solid gray;
    outline: none;
    height: 26px;
    width: 32px;
    border-radius: 45px 45px 45px 45px;
}

.logotipo-video{
    border: 1px solid gray;
    outline: none;
    height: 26px;
    width: 32px;
    border-radius: 45px 45px 45px 45px;
}

.logotipo-notificação{
    border: 1px solid gray;
    outline: none;
    height: 26px;
    width: 32px;
    border-radius: 45px 45px 45px 45px;
}

.logotipo-conta{
    border: 1px solid gray;
    outline: none;
    height: 26px;
    width: 32px;
    border-radius: 45px 45px 45px 45px;
}

.cabecalho-final{
    display: flex;
    padding: ;
}